.scrollup {
  position: fixed;
  right: 2.5rem;
  bottom: -20%;
  background-color: #3a3a3a;
  opacity: 0.8;
  padding: 1.5rem 1.2rem;
  border-radius: 20px;
  z-index: 100;
  transition: 0.2s;
  background: rgba(86, 175, 250, 0.55);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
}

.scrollup-icon {
  font-size: 3rem;
  color: azure;
}

.scrollup:hover {
  background-color: #4696ff;
}

.show-scroll {
  bottom: 5rem;
}
