.about-us {
  padding: 10rem 0;
  position: relative;
  height: 100vh;
}

.about-us-title {
  font-size: 4.5rem;
  min-width: 300px;
  color: #0f0840;
  font-family: "Gilroy", sans-serif;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 7rem;
  letter-spacing: 2px;
}

.about-us-subtitle {
  font-size: 4rem;
  min-width: 300px;
  color: #002663;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  text-align: left;
  margin-bottom: 7rem;
  padding: 0 2rem;
}

.aboutus-icons {
  color: #09a7f3;
  font-size: 8rem;
  position: absolute;
  top: 33.5rem;
  left: 30rem;
}

.aboutus-image {
  width: 45%;
  border-radius: 20px;
  position: absolute;
  top: 60rem;
  left: 45rem;
  z-index: 5;
  box-shadow: 0 12px 34px rgba(0, 0, 0, 0.2);
}

.aboutus-info {
  display: flex;
  gap: 2rem;
}

.aboutus-card {
  width: 40rem;
  box-shadow: 0 12px 34px rgba(0, 0, 0, 0.2);
  padding: 2rem 4rem;
  border-radius: 20px;
  z-index: 10;
  position: absolute;
  top: 44rem;
  left: 16rem;
  background-color: #fff;
}

.aboutus-card-title {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
  color: #0f0840;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  padding-bottom: 2rem;
}

.aboutus-card-subtitle {
  font-size: 1.8rem;
  line-height: 25px;
  color: #777;
  font-family: "Popins", sans-serif;
  line-height: 1.5;
}

.about-us-ball {
  z-index: 3;
  width: 25rem;
  height: 25rem;
  background-image: linear-gradient(#d9ebf3, #0097ef 50%, #002663);
  border: 1px #000;
  border-radius: 50%;
  position: absolute;
  top: 88rem;
  right: 10rem;
  box-shadow: 0 12px 34px rgba(0, 0, 0, 0.2);
}

.about-us-line {
  width: 100%;
  border-top: 2px solid #002663;
  top: 108rem;
  /* right: 10rem; */
  position: absolute;
}

@media (max-width: 1100px) {
  .aboutus-image {
    top: 65rem;
    left: 45rem;
  }
}
@media (max-width: 900px) {
  .aboutus-image {
    width: 50%;
    top: 65rem;
    left: 40rem;
  }

  .aboutus-card {
    top: 44rem;
    left: 10rem;
    background-color: #fff;
  }

  .aboutus-icons {
    color: #09a7f3;
    font-size: 8rem;
    position: absolute;
    top: 36.5rem;
    left: 23rem;
  }

  .about-us-ball {
    z-index: 3;
    width: 23rem;
    height: 23rem;
    top: 88rem;
    right: 2rem;
  }

  .about-us-line {
    width: 100%;
    border-top: 2px solid #002663;
    top: 105rem;
    position: absolute;
  }
}

@media (max-width: 900px) {
  .aboutus-image {
    width: 55%;
    top: 75rem;
    left: 35rem;
  }

  .about-us-ball {
    z-index: 3;
    width: 23rem;
    height: 23rem;
    top: 95rem;
    right: 2rem;
  }

  .about-us-line {
    width: 100%;
    border-top: 2px solid #002663;
    top: 112rem;
    position: absolute;
  }
}

@media (max-width: 500px) {
  .aboutus-image {
    width: 90%;
    top: 105rem;
    left: 5rem;
  }

  .aboutus-card {
    top: 54rem;
    left: 6rem;
  }

  .about-us-line {
    display: none;
  }

  .about-us-ball {
    z-index: 3;
    width: 33rem;
    height: 33rem;
    top: 85rem;
    right: -5rem;
  }

  .aboutus-icons {
    color: #09a7f3;
    font-size: 8rem;
    position: absolute;
    top: 43.5rem;
    left: 23rem;
  }

  .about-us-subtitle {
    margin-bottom: 5rem;
  }
}

@media (max-width: 300px) {
  .aboutus-image {
    width: 100%;
    top: 140rem;
    left: 2rem;
  }

  .aboutus-card {
    top: 64rem;
    left: 2rem;
  }

  .about-us-ball {
    z-index: 3;
    width: 33rem;
    height: 33rem;
    top: 116rem;
    right: 2rem;
  }

  .aboutus-icons {
    color: #09a7f3;
    font-size: 8rem;
    position: absolute;
    top: 53rem;
    left: 23rem;
  }
}
