.footer {
  height: 35vh;
  background-color: #002663;
}

.footer-title {
  text-align: center;
  font-size: 10rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer-line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 50px;
}

.footer-details {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  margin: 0 5rem;
}

.footer-name {
  display: flex;
  flex-direction: column;
}

.footer-name-details {
  color: #fff;
  font-size: 1.8rem;
  font-family: "Roboto";
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 3rem;
}

.social-media {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.social-media-title {
  color: #fff;
  font-size: 1.4rem;
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 3rem;
}

.footer-icons {
  display: flex;
  gap: 2rem;
  color: #fff;
}
.footer-icon {
  font-size: 3rem;
}

.footer-nav {
  color: #fff;
}

.footer-nav-comp-title {
  color: #fff;
  font-size: 1.8rem;
  font-family: "Roboto";
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 3rem;
}

.footer-nav-title {
  color: #fff;
  font-size: 1.4rem;
  font-family: "Roboto";
  /* font-weight: 500; */
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.footer-copyright {
  text-align: center;
  color: #fff;
}

@media (max-width: 400px) {
  .footer-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 5rem;
  }

  .footer {
    height: auto;
    padding-bottom: 3rem;
  }

  .footer-name {
    align-items: center;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-nav-comp-title,
  .footer-name-details {
    font-size: 3rem;
  }

  .social-media-title {
    font-size: 2rem;
    text-align: center;
  }

  .footer-nav-title {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .footer-icon {
    font-size: 5rem;
  }

  .footer-copyright {
    font-size: 1.6rem;
  }
}
